* text=auto
Dockerfile text eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf
*.sh text eol=lf
*.command text eol=lf
*.py text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.md text eol=lf
*.png binary
*.ico binary
*.exe binary
*.dll binary
*.pdf binary
*.docx binary
*.xlsx binary
*.css text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.tsx text eol=lf
